.iframe {
    border: 0;
}

.droneScream {
    position: relative;
}

.toolbar {
    position: absolute;
    top: 20%;
    right: 5%;
    opacity: 0.5;
}

.toolbar:hover {
    opacity: 0.8;
}

.toolbar .gimbal {
    margin-bottom: 20px;
}

.toolbar .gimbal button:first-child {
    margin-right: 10px;
}

.toolbar .gimbal button:last-child {
    margin-left: 10px;
}

.toolbar .gimbal button:first-child,
.toolbar .gimbal button:last-child {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    background-color: rgb(75, 160, 234);
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}

.toolbar .gimbal button:first-child:hover,
.toolbar .gimbal button:last-child:hover {
    background-color: rgb(75, 160, 234);
}

.toolbar .gimbal button:first-child:active,
.toolbar .gimbal button:last-child:active {
    background-color: rgb(75, 160, 234);
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

.toolbar .bottom {
    display: flex;
    justify-content: space-between;
}

.toolbar .bottom .model {
    display: flex;
    flex-direction: column;
}

.toolbar .model button {
    margin-bottom: 8px !important;
}

.toolbar .switch {
    display: flex;
    justify-content: flex-end;
}

.toolbar .switch .mat-slider-vertical {
    width: 42px;
}

.status-table {
    width: 100%;
    height: 20%;
    background-color: rgba(85, 90, 92, 0.4);
    border-radius: 1em;
    margin-top: 20px;
}

.status-table td {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 10px 0;
}

.small-video {
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}

.small-video .cctvScream video:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

.small-video .cctvScream video {
    cursor: move;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media screen and (min-width:0px) {
    .small-video .cctvScream video,
    .status-table{
        width: 100px;
    }
}

@media screen and (min-width:480px) {
    .small-video .cctvScream video,
    .status-table{
        width: 100px;
    }
}

@media screen and (min-width:780px) {
    .small-video .cctvScream video,
    .status-table{
        width: 150px;
    }
}
@media screen and (min-width:1200px){
    .small-video .cctvScream video,
    .status-table{
        width: 210px;
    }
}
@media screen and (min-width:1400px){
    .small-video .cctvScream video,
    .status-table{
        width: 270px;
    }
}
