<mat-sidenav-container>
    <!-- ============================================================== -->
    <!-- Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->
    <mat-sidenav #sidenav class="sidebar" id="sidebar" mode="side" opened="true" position="start" role="navigation" class="sidenav-wv">
        <app-sidebar (click)="snav.open()"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-sidenav-container class="example-sidenav-container">
            <mat-sidenav #snav id="sidenav" class="sidenav pl-xs" fixedTopGap="0" opened mode="side" >
                <router-outlet>
                    <app-spinner></app-spinner>
                </router-outlet>
            </mat-sidenav>
    <!-- ============================================================== -->
    <!-- Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
            <mat-sidenav-content class="page-wrapper">
            
                <div class="page-content map-warpper">
                    <app-a-map></app-a-map>
                </div>

                <!-- <div class="page-content media-panel-warpper" *ngIf="getMediaRoute()">
                    <app-media-panel></app-media-panel>
                </div> -->

                <div class="wayline-setting-warpper">
                    <app-wayline-settings></app-wayline-settings>
                </div>

                <div class="device-status-warpper" cdkDragBoundary=".page-wrapper" cdkDrag>
                    <app-device-status></app-device-status>
                </div>
              
                <!-- <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备2021061605号</a> -->
            </mat-sidenav-content>
    <!-- ============================================================== -->
    <!-- Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
        </mat-sidenav-container>
    </mat-sidenav-content>
</mat-sidenav-container>