<mat-card-title>{{ 'GoogleMap.Map' | translate }}</mat-card-title>
<!-- <div class="gmnoprint">
  <div class="btn">
    <button (click)="drawMaker()">{{ 'AMap.GroundStation' | translate }}</button>
  </div>
  <div class="btn">
    <button (click)="drawPolyline()">{{ 'AMap.FlyingRange' | translate }}</button>
  </div>
  <div class="btn">
    <button (click)="drawPolygon('#1791fc')">{{ 'AMap.PerformanceArea' | translate }}</button>
  </div>
  <div class="btn">
    <button (click)="drawPolygon('gray')">{{ 'AMap.ElectronicFence' | translate }}</button>
  </div>
  <div class="btn">
    <button (click)="drawPolygon('#58bf58')">{{ 'AMap.ViewingArea' | translate }}</button>
  </div>
  <div class="btn">
    <button (click)="drawPolygon('#ff0000')">{{ 'AMap.TakeoffAndLandingArea' | translate }}</button>
  </div>
  <div class="btn">
    <button (click)="drawPolygon('#f0e336')">{{ 'AMap.AlternateArea' | translate }}</button
  ></div>
  <div class="btn">
    <button (click)="stopDraw()">{{ 'AMap.CloseDraw' | translate }}</button>
  </div>
</div> -->
<div id="wpsettings" *ngIf="closewp">
    <div id="wpsettings-content" class="panel panel-default wpsetting">
        <div class="panel-heading">
            <button>Delete</button>
            <p>WAYPOINT {{ wayPoint }} SETTINGS</p>
            <button (click)="closeWp()">×</button>
        </div>
        <div class="panel-body" style="width: 400px;">
            <div class="body-wpsetting">
                <form class="lat-lng">
                    <div class="lat-width">
                        <span matPrefix>Latitude&nbsp;</span>
                        <input type="lat" name="lat" matInput [(ngModel)]="latitude">
                    </div>
                    <div class="lng-width">
                        <span matPrefix>Longitude&nbsp;</span>
                        <input type="lng" name="lng" matInput [(ngModel)]="longitiude">
                    </div>
                </form>
            </div>
        </div>
        <div class="panel-footer">
            <button><</button>
            <button>></button>
        </div>
    </div>
</div>
<div class="my-google-map" id="map"></div>