<!-- CCTV Streaming -->
<div fxLayout="row" style="justify-content: center;">
    <div fxFlex.gt-sm="70%">
        <mat-card>
            <mat-card-content>
                <mat-card-title>{{ 'Airport.CCTV' | translate }}</mat-card-title>
                <div class="cctvScream">
                    <video id="cctv" width="100%" [srcObject]="cctvVideoSrc" poster="../../../assets/images/background/ids_place_holder.jpg" autoplay muted></video>
                    <!-- 无人机 机场 状态栏 -->
                    <div class="status-table">
                        <table>
                            <tr>
                                <th colspan=6 align="center">
                                    <mat-card-title style="color: white;">{{ 'Airport.AirportStatus' | translate }}</mat-card-title>
                                </th>
                                <th colspan=6 align="center">
                                    <mat-card-title style="color: white;">{{ 'Airport.DroneStatus' | translate }}</mat-card-title>
                                </th>
                            </tr>
                            <tr>
                                <!-- **Airport Status** -->
                                <!-- *************************** -->
                                <!-- Holder State -->
                                <td align="center" style="color: rgb(30, 136, 229);">
                                    {{ 'Airport.Holder' | translate }}
                                </td>
                                <td align="center">
                                    {{ 'Airport.' + holderState | translate}}
                                </td>
                                <td align="left">
                                    <button mat-stroked-button color="accent" [disabled]="holderBtnBusy" (click)="holderBtn($event)">
                                    {{ 'Airport.' + holderBtnLabel | translate}}
                                    </button>
                                </td>
                                <!-- RC Switch State -->
                                <td align="center" style="color: rgb(30, 136, 229);">
                                    {{ 'Airport.RC' | translate }}
                                </td>
                                <td align="center">
                                    {{ 'Airport.' + rcSwitchState | translate}}
                                </td>
                                <td align="center">
                                    <button mat-stroked-button color="accent" [disabled]="rcSwitchBtnBusy" (click)="rcSwitchBtn($event)">
                                    {{ 'Airport.' + rcSwitchBtnLabel | translate}}
                                    </button>
                                </td>
                                <td align="center" style="width: 30px;">
                                </td>

                                <!-- **Drone Status** -->
                                <!-- *************************** -->
                                <!-- Battery -->
                                <td align="center" style="color: rgb(30, 136, 229);">
                                    {{ 'Airport.Battery' | translate }}
                                </td>
                                <td align="center">
                                    {{ droneBatteryLevel }}
                                </td>
                                <!-- DroneSwitchState -->
                                <td align="center" style="color: rgb(30, 136, 229);">
                                    {{ 'Airport.DroneSwitch' | translate }}
                                </td>
                                <td align="center">
                                    {{ 'Airport.' + droneSwitchState | translate}}
                                </td>
                                <td align="center">
                                    <button mat-stroked-button color="accent" [disabled]="droneSwitchBtnBusy" (click)="droneSwitchBtn($event)">
                                    {{ 'Airport.' + droneSwitchBtnLabel | translate}}
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <!-- **Airport Status** -->
                                <!-- *************************** -->
                                <!-- Charger State -->
                                <td align="center" style="color: rgb(30, 136, 229);">
                                    {{ 'Airport.Charger' | translate }}
                                </td>
                                <td align="center">
                                    {{ 'Airport.' + chargerState | translate}}
                                </td>
                                <td align="left">
                                    <button mat-stroked-button color="accent" [disabled]="chargerBtnBusy" (click)="chargerBtn($event)">
                                    {{ 'Airport.' + chargerBtnLabel | translate}}   
                                    </button>
                                </td>
                                <td colspan=4>
                                </td>

                                <!-- Drone Status -->
                                <!-- *************************** -->
                                <!-- Drone Downloading State -->
                                <td align="center" style="color: rgb(30, 136, 229);">
                                    {{ 'Airport.Downloading' | translate }}
                                </td>
                                <td align="center">
                                    {{ 'Airport.' + droneDownloadingState | translate}}
                                </td>
                                <!-- Drone Flying State -->
                                <td align="center" style="color: rgb(30, 136, 229);">
                                    {{ 'Airport.Flying' | translate }}
                                </td>
                                <td align="center">
                                    {{ 'Airport.' + droneFlyingState | translate}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>



<!-- 强制开关按钮 -->
<!-- <div fxLayout="row">
    <div fxFlex.gt-sm="100%">
        <mat-card>
            <mat-card-content>
                <mat-card-title>FOR EXPERTEES</mat-card-title>
                <table>
                    <tr>
                        <td><button mat-raised-button color="accent" (click)="airport_action('holder','RELEASE')">Force Release Holder</button></td>
                        <td><button mat-raised-button color="accent" (click)="airport_action('holder','LOCK')">Force Lock Holder</button></td>
                        <td><button mat-raised-button color="accent" (click)="airport_action('charger','ON')">Force Charger ON</button></td>
                        <td><button mat-raised-button color="accent" (click)="airport_action('charger','OFF')">Force Charger OFF</button></td>
                        <td><button mat-raised-button color="accent" (click)="airport_action('rc','ON')">Force RC ON</button></td>
                        <td><button mat-raised-button color="accent" (click)="airport_action('rc','OFF')">Force RC OFF</button></td>
                    </tr>
                    <tr>
                        <td><button mat-raised-button color="accent" (click)="airport_action('drone','ON')">Force Drone ON</button></td>
                        <td><button mat-raised-button color="accent" (click)="airport_action('drone','OFF')">Force Drone OFF</button></td>
                        <td><button mat-raised-button color="accent" (click)="force_stop_current_mission(false)">Force Stop Current Mission </button></td>
                        <td><button mat-raised-button color="accent" (click)="force_stop_current_mission(true)">Force Stop Go Home</button></td>
                    </tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->