<!-- <mat-card-title>{{ 'AMap.Map' | translate }}</mat-card-title> -->
<div id='container' style='width:100%; height:100%;'></div>
<!-- <div id="myPageTop">
    <table>
        <tr>
            <td>
                <label>请输入关键字：</label>
            </td>
        </tr>
        <tr>
            <td>
                <input id="tipinput"/>
            </td>
        </tr>
    </table>
</div> -->
<div id="wpsettings" *ngIf="false">
    <div id="wpsettings-content" class="panel panel-default wpsetting">
        <div class="panel-heading">
            <button class="btn btn-danger" (click)="deleteWaypoint()">Delete</button>
            <button class="btn btn-success" (click)="insertWaypoint()" *ngIf="insertBtnVisible">Insert</button>
            <h3>WAYPOINT {{ wayPointId }} SETTINGS</h3>
            <button mat-icon-button class="close" (click)="closewp = false" color='warn'>
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
        <div class="panel-body" style="width: 400px;">
            <div class="body-wpsetting">
                <div class="lat-lng">
                    <div class="lat-width">
                        <span matPrefix>Latitude&nbsp;</span>
                        <input type="lat" name="lat" [(ngModel)]="latitude" disabled="true">
                    </div>
                    <div class="lng-width">
                        <span matPrefix>Longitude&nbsp;</span>
                        <input type="lng" name="lng" [(ngModel)]="longitiude" disabled="true">
                    </div>
                </div>
                <div class="Altitude">
                    <span matPrefix>Altitude(m)&nbsp;&nbsp;</span>
                    <input name="altitude" type="number" [(ngModel)]="altitude" (change)="editFlightPath()">
                    <!-- <i slot="suffix" style="font-style: normal; margin-right: 10px">m</i> -->
                    <mat-slider max="300" min="5" step="1" thumbLabel [vertical]="vertical" [(ngModel)]="altitude" (change)="editFlightPath()">
                    </mat-slider>
                </div>
                <div class="Speed">
                    <span matPrefix>Speed(m/s)&nbsp;</span>
                    <input name="Speed" type="number" [(ngModel)]="speed" (change)="editFlightPath()"> 
                    <!-- <i slot="suffix" style="font-style: normal; margin-right: 10px">m/s</i> -->
                    <mat-slider max="15" min="2" step="1" thumbLabel [vertical]="vertical" [(ngModel)]="speed" (change)="editFlightPath()">
                    </mat-slider>
                </div>
                <div class="Heading">
                    <label for="heading">Heading</label>
                    <select id="heading" [(ngModel)]="heading" (change)="editFlightPath()">
                        <option value="AUTO">Auto</option>
                        <option value="CONTROL_BY_REMOTE_CONTROLLER">RC Control</option>
                        <option value="TOWARD_POINT_OF_INTEREST">Interest</option>
                        <option value="USING_INITIAL_DIRECTION">Initial</option>
                        <option value="USING_WAYPOINT_HEADING">Use Waypoint</option>
                    </select>
                </div>
                <div class="ActionAfterFinished">
                    <label for="actionAfterFinished">Action After Finished</label>
                    <select id="actionAfterFinished" [(ngModel)]="actionAfterFinished" (change)="editFlightPath()">
                        <option value="AUTO_LAND">Auto</option>
                        <option value="CONTROL_BY_REMOTE_CONTROLLER">RC Control</option>
                        <option value="USING_INITIAL_DIRECTION">Initial</option>
                        <option value="USING_WAYPOINT_HEADING">Use Waypoint</option>
                    </select>
                </div>
                <div class="Actions">
                    <label>Actions</label>
                    <button mat-icon-button color="primary" (click)="addAction()">
                        <mat-icon>add_box</mat-icon>
                    </button>
                </div>
                <div class="showAction">
                    <ul class='actionlist' *ngFor="let action of actionList; let i = index">
                        <div class="actionselect input-group">
                            <select id="selectaction" [(ngModel)]="action.actionType" (change)="action.actionParam = 0">
                                <option value="STAY">Stay(s)</option>
                                <option value="START_TAKE_PHOTO">Take a Photo</option>
                                <option value="START_RECORD">Start Recording</option>
                                <option value="STOP_RECORD">Stop Recording</option>
                                <option value="GIMBAL_PITCH">Gimbal Pitch(°)</option>
                                <!-- <option value="HOVER">Hover(s)</option> -->
                                <option value="ROTATE_AIRCRAFT">Aircraft Rotate(°)</option>
                            </select>
                            <input
                                type="number"
                                [min]="actionParamMin(action.actionType)"
                                [max]="actionParamMax(action.actionType)" 
                                style="width: 60px;"
                                [(ngModel)]="action.actionParam" 
                                [disabled]='action.actionType == "START_TAKE_PHOTO" || action.actionType == "START_RECORD" || action.actionType == "STOP_RECORD"'
                            >
                            <button mat-icon-button color="warn" (click)="removeAction(i)">
                                <mat-icon>remove_circle_outline</mat-icon>
                            </button>
                            <span style="font-size: 12px;">{{ valueRange(action.actionType) }}</span>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="left">
                <button class="btn-bottom" style="margin-right: 10px;" (click)="preWaypoint()" [disabled]="preBtnDisabled"><</button>
                <button class="btn-bottom" (click)="nextWaypoint()" [disabled]="nextBtnDisabled">></button>
            </div>
            <div class="right">
                <button class="btn-bottom" (click)="waypointMissionCmd()" >Upload</button>
            </div>
        </div>
    </div>
</div>
<!-- <mat-card class="draw-func">
    <div>
        <div class="input-item">
            <input type="radio" name='func' value='marker' (change)="draw('location')"><span class="input-text">{{ 'AMap.GroundStation' | translate }}</span>
            <input type="radio" name='func' value='polyline' (change)="draw('flyArea')"><span class="input-text">{{ 'AMap.FlyingRange' | translate }}</span>
            <input type="radio" name='func' value='polygon'(change)="draw('showArea')" ><span class="input-text">{{ 'AMap.PerformanceArea' | translate }}</span>
            <input type="radio" name='func' value='polygon' (change)="draw('eleFence')"><span class="input-text">{{ 'AMap.ElectronicFence' | translate }}</span>
        </div>
        <div class="input-item">
            <input type="radio" name='func' value='polygon' (change)="draw('viewer')"><span class="input-text">{{ 'AMap.ViewingArea' | translate }}</span>
            <input type="radio" name='func' value='polygon' (change)="draw('landing')"><span class="input-text">{{ 'AMap.TakeoffAndLandingArea' | translate }}</span>
            <input type="radio" name='func' value='polygon' (change)="draw('reserve')"><span class="input-text">{{ 'AMap.AlternateArea' | translate }}</span>
        </div>
        <div class="input-item">
            <input id="clear" type="button" class="btn" value="{{ 'AMap.ClearAll' | translate }}"  (click)="clear()"/>
            <input id="close" type="button" class="btn" value="{{ 'AMap.CloseDraw' | translate }}" (click)="closeDraw()" />
            <input id="laststep" type="button" class="btn" value="{{ 'AMap.ToWithdraw' | translate }}" [disabled]="lastStepDisanled" (click)="lastStep()" />
        </div>
        <div class="input-item">
            <input id="clear" type="button" class="btn" value="新建"  (click)="createPolygon()"/>
            <input id="clear" type="button" class="btn" value="开始编辑"  (click)="startEditor()"/>
            <input id="close" type="button" class="btn" value="关闭编辑" (click)="closeEditor()" />
        </div>
    </div>
</mat-card> -->
<!-- <mat-card class="input-card show-area">
    <div class="location">
        <span>{{ 'AMap.GroundStation' | translate }}</span>
        <img src="https://webapi.amap.com/theme/v1.3/markers/n/mark_bs.png" style="width: 16px;">
    </div>
    <div class="flyArea">
        <span>{{ 'AMap.FlyingRange' | translate }}</span>
        <img src="../../../assets/images//amap-icon/flyArea.png" style="width: 30px;">
    </div>
    <div class="showArea">
        <span>{{ 'AMap.PerformanceArea' | translate }}</span>
        <img src="../../../assets/images//amap-icon/show.png" style="width: 30px;">
    </div>
    <div class="eleFence">
        <span>{{ 'AMap.ElectronicFence' | translate }}</span>
        <img src="../../../assets/images//amap-icon/eleFence.png" style="width: 30px;">
    </div>
    <div class="viewer">
        <span>{{ 'AMap.ViewingArea' | translate }}</span>
        <img src="../../../assets/images//amap-icon/viewer.png" style="width: 30px;">
    </div>
    <div class="landing">
        <span>{{ 'AMap.TakeoffAndLandingArea' | translate }}</span>
        <img src="../../../assets/images//amap-icon/landing.png" style="width: 30px;">
    </div>
    <div class="landing">
        <span>{{ 'AMap.AlternateArea' | translate }}</span>
        <img src="../../../assets/images//amap-icon/reserve.png" style="width: 30px;">
    </div>
</mat-card> -->