.example-headers-align .mat-expansion-panel-header-description {
    justify-content: right;
    align-items: center;
  }

  mat-panel-title {
    padding-top: 10px;
  }

  .example-action-buttons {
    padding-bottom: 20px;
  }