<div fxLayout="row wrap">

        <!-- Path Planning -->
        <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100" >
            <mat-card>
                <mat-card-content>
                    <mat-card-title>{{ 'FligthPath.PathPlanning' | translate }}</mat-card-title>
                    <mat-divider></mat-divider>

                    <!-- Drone Steps -->
                    <mat-list class="drone-steps">
                        <mat-card-subtitle>{{ 'FligthPath.DroneSteps.Step' | translate }}</mat-card-subtitle>

                        <!-- 起飞 降落 精准降落 -->
                        <mat-list-item>
                            <button
                            mat-raised-button
                            data-tag="TAKEOFF"
                            (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.DroneSteps.TakeOff' | translate }}
                            </button>
                            <button
                            mat-raised-button
                            data-tag="LANDING"
                            (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.DroneSteps.Landing' | translate }}
                            </button>
                            <button
                            mat-raised-button
                            data-tag="PRECISE_LANDING"
                            (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.DroneSteps.PreciseLanding' | translate }}
                            </button>
                        </mat-list-item>

                        <!-- 高度参数 -->
                        <mat-list-item>
                            <button
                            mat-raised-button
                            data-tag="ALTITUDE"
                            (click)="commandButtonClicked($event)"
                          >
                          {{ 'FligthPath.DroneSteps.Altitude' | translate }}
                          </button>
                          <mat-form-field>
                            <input 
                            matInput
                            type="text"
                            placeholder="Value"
                            [(ngModel)]="altitudeSetPoint"
                            />
                          </mat-form-field>
                        </mat-list-item>

                        <!-- 水平参数 -->
                        <mat-list-item>
                            <button
                              mat-raised-button
                              data-tag="HORIZONTAL_ALIGN"
                              (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.DroneSteps.HorizontalAlign' | translate }}
                            </button>
                            <mat-form-field>
                              <input
                                matInput
                                type="text"
                                placeholder="{{ 'FligthPath.DroneSteps.Tag' | translate }}"
                                [(ngModel)]="horizontalTag"
                              />
                            </mat-form-field>
                            <mat-form-field>
                              <input
                                matInput
                                type="text"
                                placeholder="Heading"
                                [(ngModel)]="horizontalAngle"
                              />
                            </mat-form-field>
                            <mat-form-field>
                              <input
                                matInput
                                type="text"
                                placeholder="{{ 'FligthPath.DroneSteps.Offset' | translate }}"
                                [(ngModel)]="horizontalOffsetZ"
                              />
                            </mat-form-field>
                        </mat-list-item>

                        <!-- 垂直参数 -->
                        <mat-list-item>
                            <button
                              mat-raised-button
                              data-tag="VERTICAL_ALIGN"
                              (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.DroneSteps.VerticalAlign' | translate }}
                            </button>
                            <mat-form-field>
                              <input
                                matInput
                                type="text"
                                placeholder="{{ 'FligthPath.DroneSteps.Tag' | translate }}"
                                [(ngModel)]="verticalTag"
                              />
                            </mat-form-field>
                            <mat-form-field>
                              <input
                                matInput
                                type="text"
                                placeholder="{{ 'FligthPath.DroneSteps.Direction' | translate }}"
                                [(ngModel)]="verticalDirection"
                              />
                            </mat-form-field>
                        </mat-list-item>

                        <!-- 稳定器参数 -->
                        <mat-list-item>
                            <button
                              mat-raised-button
                              data-tag="GIMBAL"
                              (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.DroneSteps.Gimbal' | translate }}
                            </button>
                            <mat-form-field>
                              <input
                                matInput
                                type="text"
                                placeholder="Roll"
                                [(ngModel)]="gimbalRoll"
                              />
                            </mat-form-field>
                            <mat-form-field>
                              <input
                                matInput
                                type="text"
                                placeholder="Pitch"
                                [(ngModel)]="gimbalPitch"
                              />
                            </mat-form-field>
                            <mat-form-field>
                              <input
                                matInput
                                type="text"
                                placeholder="Yaw"
                                [(ngModel)]="gimbalYaw"
                              />
                            </mat-form-field>
                        </mat-list-item>

                        <!-- 开始录像 停止录像 -->
                        <mat-list-item>
                            <button
                              mat-raised-button
                              data-tag="START_RECORDING"
                              (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.DroneSteps.StartRecording' | translate }}
                            </button>
                            <button
                              mat-raised-button
                              (click)="commandButtonClicked($event)"
                              data-tag="STOP_RECORDING"
                            >
                            {{ 'FligthPath.DroneSteps.StopRecording' | translate }}
                            </button>
                        </mat-list-item>

                        <!-- 拍照 是否全景参数 -->
                        <mat-list-item>
                            <button
                            mat-raised-button
                            data-tag="ROBOT_SHOOT_PHOTO"
                            (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.DroneSteps.RobotShootPhoto' | translate }}
                          </button>
                            <mat-checkbox 
                              class="example-margin" 
                              [(ngModel)]="isPanorama"
                            >
                            {{ 'FligthPath.DroneSteps.Panorama' | translate }}
                            </mat-checkbox>
                        </mat-list-item>

                        <!-- 下载媒体 -->
                        <mat-list-item>
                            <button
                            mat-raised-button
                            data-tag="DOWNLOAD_MEDIA"
                            (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.DroneSteps.DownloadMedia' | translate }}
                          </button>
                        </mat-list-item>

                    </mat-list>
                    <mat-divider></mat-divider>

                    <!-- Airport Steps -->
                    <mat-list class="airport-steps">
                        <mat-card-subtitle>{{ 'FligthPath.AirportSteps.Step' | translate }}</mat-card-subtitle>

                        <!-- 机场 闭合装置开关 -->
                        <mat-list-item class="airport-button">
                            <button
                              mat-raised-button
                              data-tag="AIRPORT_RELEASE_HOLDER"
                              (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.AirportSteps.AirportReleaseHolder' | translate }}
                            </button>
                            <button
                              mat-raised-button
                              data-tag="AIRPORT_LOCK_HOLDER"
                              (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.AirportSteps.AirportLockHolder' | translate }}
                            </button>
                            
                        </mat-list-item>

                        <!-- 机场 遥控开关 -->
                        <mat-list-item class="airport-button">
                            <button
                              mat-raised-button
                              data-tag="AIRPORT_RC_ON"
                              (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.AirportSteps.AirportTurnRCOn' | translate }}
                            </button>
                            <button
                              mat-raised-button
                              data-tag="AIRPORT_RC_OFF"
                              (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.AirportSteps.AirportTurnRCOff' | translate }}
                            </button>
                        </mat-list-item>

                        <!-- 机场 充电装置开关 -->
                        <mat-list-item class="airport-button">
                            <button
                              mat-raised-button
                              data-tag="AIRPORT_CHARGER_ON"
                              (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.AirportSteps.AirportTurnChargerOn' | translate }}
                            </button>
                            <button
                              mat-raised-button
                              data-tag="AIRPORT_CHARGER_OFF"
                              (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.AirportSteps.AirportTurnChargerOff' | translate }}
                            </button>
                        </mat-list-item>

                        <!-- 机场 无人机开关 -->
                        <mat-list-item class="airport-button">
                            <button
                              mat-raised-button
                              data-tag="AIRPORT_DRONE_ON"
                              (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.AirportSteps.AirportTurnDroneOn' | translate }}
                            </button>
                            <button
                              mat-raised-button
                              data-tag="AIRPORT_DRONE_OFF"
                              (click)="commandButtonClicked($event)"
                            >
                            {{ 'FligthPath.AirportSteps.AirportTurnDroneOff' | translate }}
                            </button>
                        </mat-list-item>

                    </mat-list>

                </mat-card-content>        
            </mat-card>
        </div>
        
        <!-- Paths -->
        <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-content>
                    <mat-card-title>{{ 'FligthPath.Paths' | translate }}</mat-card-title>
                    <mat-divider></mat-divider>

                    <mat-list class="header">
                        <!-- 计划路径名称 -->
                        <mat-list-item>
                            <mat-form-field class="pathName"> 
                                <input
                                  matInput
                                  type="text"
                                  placeholder="{{ 'FligthPath.PathName' | translate }}"
                                  [(ngModel)]="newPathName"
                                />
                            </mat-form-field>
                            <button
                            mat-raised-button
                            color="primary"
                            (click)="savePlanningMissions()"
                            >
                            {{ 'FligthPath.Save' | translate }}
                            </button>
                            <button
                            mat-raised-button
                            color="warn"
                            (click)="clearPlanningMission()"
                            >
                            {{ 'FligthPath.Clear' | translate }}
                            </button>
                        </mat-list-item>

                        <!-- 计划路径类别 -->
                        <mat-list-item>
                            <label>{{ 'FligthPath.PathType' | translate }}: </label>
                            <mat-radio-group [(ngModel)]="newPathType">
                              <mat-radio-button value="DRONE">{{ 'FligthPath.Drone' | translate }}</mat-radio-button>
                              <mat-radio-button value="AIRPORT">{{ 'FligthPath.Airport' | translate }}</mat-radio-button>
                            </mat-radio-group>
                        </mat-list-item>

                        <!-- 计划路径表格 -->
                        <table class="path-table" cdkDropList (cdkDropListDropped)="dropMissionList($event)">
                            <tr>
                                <th>ID</th>
                                <th>{{ 'FligthPath.Type' | translate }}</th>
                                <th>{{ 'FligthPath.Args' | translate }}</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let mission of planningMissions" cdkDrag cdkDragBoundary=".path-table">
                                <td>{{mission.id}}</td>
                                <td>{{mission.type}}</td>
                                <td>          
                                    <span>{{mission.args.set_point ? "set-point:" + mission.args.set_point : "" }}</span>   
                                    <span>{{mission.args.action ? "action:" + mission.args.action : "" }}</span>         
                                </td>
                                <td>
                                    <button mat-icon-button (click)="removePlanningMission(mission)">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </td>
                              </tr>
                        </table>
                    </mat-list>
                </mat-card-content>        
            </mat-card>
        </div>

        <!-- Mission Path -->
        <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
            
            <app-load-paths #loadPaths></app-load-paths>
            
        </div>
</div>
